/* Space Grotesk Family */

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf") format("truetype");
  /* font-display: swap; */
}

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf") format("truetype");
  /* font-display: swap; */
}

/* Manrope Family */

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  /* font-display: swap; */
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  /* font-display: swap; */
}
