:root {
  --bs-primary: #1e1a19;
  --bs-secondary: #dd1515;
  --bs-para-color: #37302F;
  --cont-theme:#68ae2e;
  --bs-root-font-size: 16px;
  --bs-body-font-family: 'Inter', sans-serif;
  --bs-heading-font-family: 'Rubic', sans-serif;
  --bs-body-font-weight: 400;
  --bs-heading-font-weight:500;
  --bs-body-line-height: 1.5; 
}
*{
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  font-family: var(--bs-body-font-family);
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
}
section {
  padding: 50px 0;
}

p {
  color: var(--bs-para-color);
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.875rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-heading-font-family);
  font-weight: var(--bs-heading-font-weight);
  color: var(--bs-primary);
  line-height: 1.35;
  margin-bottom: 1rem;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
}
img {
  vertical-align: middle;
  max-width: 100%;
}

      .theme-high-contrast {
        background-color: #5c3f21;
      }
      /* Cookie Consent Banner */
      .cookieConsent {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 30%;
        background-color: #2B2B2B;
        padding: 1.5rem;
        text-align: center;
        display: none;
        z-index: 1000;
      }
      .cookieConsent button {
        background-color: #0079C1;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
      /* Full Page Overlay */
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 900;
        pointer-events: none;
      }
      button:not(.cookieConsent button) {
        padding: 0.4rem 0.75rem;
        border: 1px solid #3c3c3c;
        border-radius: 0.35rem;
        font-size: 0.875rem;
        background: transparent;
      }
      .theme-dark button:not(.cookieConsent button) {
        background-color: #ffffff;
        color: #000;
        border: 1px solid #fdfdfd;
      }

      .theme-high-contrast button:not(.cookieConsent button) {
        background-color: #333333;
        color: #8fff00;
        border: 1px solid #f7fb00;
      }
.nav-item {  
  padding: 1rem;
}
.nav-item .nav-link{
  color: #fff;
  font-size: 1rem;
  padding:0;
}
header ul.d-flex{
 gap:0.5rem;
}
.navbar-toggler{
  background:#fff;
}
header ul.d-flex li {
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  cursor:pointer;
}
header ul.d-flex li img{
  width: 20px;
  height: 20px;
}
.nav-item .nav-link.active{
  color: var(--bs-secondary);
  padding: 0;
}
      .tmnl-sec.rltvprod .owl-carousel .item {
        display: flex;
        flex: 1 0 auto;
        height: 100%;
        padding: 2.2rem .75rem ;
    }
    .newprodcrd .pdbox {
      padding: 55px 20px 30px;
      box-shadow: 0 2px 10px #0000001a;
      text-align: center;
      border-radius: 1.25rem;
      position: relative;
  }
  .newprodcrd .prdIcon {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    line-height: 70px;
    background: #e7eef4;
}
.newprodcrd .pdbox .prdIcon img {
  height: 30px;
  margin: 0;
  max-width: 100%;
  transition: .4s ease-in-out;
}
.sec-head{
  font-size:2.25rem;
}
.sec-para{
  font-size:1.5rem;
}
.newprodcrd .cardttl {
  font-size: 1.5rem;
}
.pdbox .cardpara {
  font-size: 1rem;
}
.pdbox .btn-main {
  --bs-btn-padding-x: 1.75rem;
  --bs-btn-padding-y: 0.65rem;
  --bs-btn-font-size: 0.775rem;
}
.liItem{
  font-size:1rem;
}
header nav{
  background:#212529 ;
}

body.theme-dark header nav{
  background:#6200ee ;
}
body.theme-dark {
  background:#212529 ;
}
body.theme-dark .sec-head{
  color:var(--bs-secondary);
}
body.theme-dark .main-para{
  color:#fff;
}
body.theme-dark .newprodcrd .pdbox {
 background: #8900ea;
}
body.theme-dark .hyperelink {
  color:#6200ee;
}
body.theme-dark .nav-item .hyperelink {
  color:#fff;
}
body.theme-dark .nav-item .active.hyperelink {
  color: var(--bs-secondary);
}
body.theme-high-contrast header nav{
  background:#68ae2e ;
}
body.theme-high-contrast .sec-head{
  color:var(--cont-theme);
}
body.theme-high-contrast .main-para{
  color:#fff;
}
body.theme-high-contrast .newprodcrd .pdbox {
 background: #243a5e;
}
body.theme-high-contrast header ul.d-flex li img ,
body.theme-high-contrast header ul.d-flex li img g path{
  filter: invert(100%) sepia(52%) saturate(517%) hue-rotate(184deg) brightness(116%) contrast(102%);
  fill:#fafafa;
} 
body.theme-high-contrast .liItem ,
body.theme-high-contrast .pdbox .cardpara,
body.theme-high-contrast .newprodcrd .cardttl,body.theme-dark .pdbox .cardpara ,
body.theme-dark .liItem,
body.theme-dark .newprodcrd .cardttl{
  color:#fafafa;
}
body.theme-high-contrast .hyperelink {
  color:var(--cont-theme);
}
body.theme-high-contrast .nav-item .hyperelink {
  color:#fff;
}
body.theme-high-contrast .nav-item .active.hyperelink {
  color: var(--bs-secondary);
}