:root {
  --bs-primary: #4D4D4D;
  --bs-secondary: #3AB44C;
  --bs-para-color: #37302F;
  --bs-root-font-size: 16px;
  --bs-body-font-family: 'Inter', sans-serif;
  --bs-heading-font-family: 'Rubic', sans-serif;
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-heading-font-weight:500;
  --bs-body-line-height: 1.5; 
}
*{
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  /* font-family: "Inter", sans-serif; */
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
}
section {
  padding: 100px 0;
}

p {
  color: var(--bs-para-color);
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.875rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-heading-font-family);
  font-weight: var(--bs-heading-font-weight);
  color: #bd4328;
  line-height: 1.35;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
}
img {
  vertical-align: middle;
  max-width: 100%;
}
