:root {
  --bs-primary:#091638;
 --bs-secondary:#56565B;
  --bs-heading-font-family: 'SpaceGrotesk', sans-serif;
  --bs-body-font-family: 'Manrope', sans-serif;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5; 
  --font-size: 16px;
}

.font-size-default {
  --font-size: 16px; 
}

.font-size-small {
  --font-size: 13.54px; 
}

.font-size-large {
  --font-size: 18.66px; 
}
body {
  padding: 0;
  font-size: var(--font-size);
  font-family: var(--bs-body-font-family);
}
section {
  padding: 112px 0;
}

p {
  color:var(--bs-secondary);
  font-size: var(--font-size);
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 187.5%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-heading-font-family);
  font-weight: 700;
  color: var(--bs-primary);
  margin-bottom: 1rem;
}
.material-symbols-outlined {
  font-weight: bold;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.btn-top{
  padding: 0.625rem 1rem;
  background: transparent;
  border: 1px solid #E8E8FD;
  color: var( --bs-primary);
  font-size: 0.75rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-weight: 600;
}
.btn-gard{
  background: linear-gradient(90deg, #393185 0%, #E4097F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0.5rem;
}
  .btn-top .material-symbols-outlined {
    font-size: 1.25rem;
}
      /* Cookie Consent Banner */
      .cookieConsent {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        width: 400px;
        background-color: #2B2B2B;
        padding: 2.5rem 1.5rem;
        display: none;
        z-index: 1000;
      }
      .cookieConsent button {
        background-color: #0079C1;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        display: block;
        width: 100%;
        font-size: 0.9rem;
      }
     
      .cookieConsent p {
        color: #fff;
        font-size: 0.875rem;
        line-height: 1.6;
      }
      .cookieConsent a {
        text-align: center;
        display: block;
        text-decoration: underline;
        color:#0079C1;
        font-size: 0.875rem;
        font-weight: 700;
      }
      /* Full Page Overlay */
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 900;
        pointer-events: none;
      }
    .topnav  button {
      /* border: 1px solid #c9deff;
      border-radius: 0.35rem;
      font-size: 0.875rem;
      background: #fff;
        padding: 0.5rem; */
      }
   
    .topnav  button.activetheme {
      background: #e0ffc6;
      }
  
    .topnav  button img {
      width: 25px;
      height: 25px;
      }
  
::selection{
  color:#8bc3ff;
}
   
.nav-item {  
  padding: 1.25rem 1rem;
}
.nav-item.dropdown{  
  padding-right: 2rem;
}
.topnav{
display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.75rem;
  background: var( --bs-primary);
  position: relative;
}
.topnav button{
  position: absolute;
  right: 1rem;
  border: 0;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translate(0, -50%);
}
.dropdown-toggle::after {
  border: solid var(--bs-primary);
  border-width: 0 1.5px 1.5px 0;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  right: -15px;
  top: 5px;
  opacity: 0.7;
  transition: all .5s;
}
.dropdown-toggle.active::after {
  border: solid #E4097F;
  border-width: 0 1.5px 1.5px 0;
  opacity: 0.7;
}
.nav-item .nav-link{
  padding: 0 !important;
  position: relative;
  color: var(--bs-primary);
  font-size: 0.875rem;
}
header ul.d-flex{
 gap:0.5rem;
}
.navbar-toggler{
  background:#fff;
}
header .d-flex li {
  list-style-type: none;
  padding: 0.5rem 0;
  display: flex;
  cursor: pointer;
  gap: 0.5rem;
 flex-direction: column;
}
header .d-flex li.bdrbtm {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #c9deff;
}
header .d-flex li h5{
  margin: 0;
  font-size: 1rem;
}


header .d-flex .tglimg {
  cursor: pointer;
}
header .d-flex .tglimg img{
  width: 30px;
  height: 30px;
}
header .d-flex  .tglimg + ul{
  position: absolute;
  background: #fff;
  z-index: 99;
  top: 46px;
  padding: 0.75rem 1.25rem;
  left: 0;
  border-radius: 0.625rem;
  display: none;
  box-shadow: 0 0 30px -8px rgba(0, 0, 0, 0.15);
}
header .d-flex  .btndv{
  display:flex;
  gap:0.5rem;
}
header .d-flex  .tglimg:hover + ul{
 display: block;
}
header .d-flex  .tglimg + ul.active{
  display: block;

}
.nav-item .nav-link.active{
  color:  #E4097F;
  padding: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding:  0;
}
 .nav-item.dropdown .dropdown-menu .dropdown-item {
  padding: 0.75rem 1rem;
}
.nav-item.dropdown .dropdown-menu li a{
  font-size: 0.875rem;
}
.nav-item.dropdown .dropdown-menu li:first-child a{
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
.nav-item.dropdown .dropdown-menu li:last-child a{
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}
    .newprodcrd .pdbox {
      padding: 55px 20px 30px;
      box-shadow: 0 2px 10px #0000001a;
      text-align: center;
      border-radius: 1.25rem;
      position: relative;
  }
  .newprodcrd .prdIcon {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    line-height: 70px;
    background: #e7eef4;
}
.newprodcrd .pdbox .prdIcon img {
  height: 30px;
  margin: 0;
  max-width: 100%;
  transition: .4s ease-in-out;
}
.sec-head{
  font-size: calc(var(--font-size)* 2.25);
  margin-bottom: 1.5rem;
  line-height: 46px;
  text-align: center;
}
.main-para{
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 30px;
}
.mb50{
  margin-bottom: 50px;
}
.sec-para{
    font-size:calc(var(--font-size) * 1.5) ;
}
.newprodcrd .cardttl {
    font-size:calc(var(--font-size) * 1.5) ;
}
.pdbox .cardpara {
    font-size:calc(var(--font-size) * 1) ;
}
.pdbox .btn-main {
  --bs-btn-padding-x: 1.75rem;
  --bs-btn-padding-y: 0.65rem;
  --bs-btn-font-size: 0.775rem;
}
.liItem{
  font-size:calc(var(--font-size) * 1) ;
}
.dropdown-item.hyperelink{
  font-size:calc(var(--font-size) * 0.9) ;
}
.dropdown-menu li a{
  border-left: 2px solid transparent;
}
.dropdown-menu li a.active{
  border-left: 2px solid var(--bs-secondary);
  background: transparent;
  color: var(--bs-secondary);
}
/* top-banner start */
/* .tpcntnt{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 74px;
} */
.maindiv img{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  z-index:-1;
  height:100vh;
}


/* top-banner ends */


/* second-section start */
.top-img{
  padding: 50px 25px;
  border-radius: 0.5rem;  
  min-height:348px;
  display:block;
}
.top-img h3{
  font-size: 18px;
  line-height: 25.2px;
}


/* second-section ends */



/* third-section start */
section.third-section{
  background:background: #F7F7FF;

}
.prod-card{
  padding:1.875rem;
  box-shadow: 0px 4px 16px 0px #464C881A;
  border-radius: 0.5rem;  
  display:block;
}
.prod-card .card-head{
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}
.prod-card p{
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom:2rem;
}
.prod-card ul{
  padding:0;
  margin:0;
}
.prod-card ul li{
 list-style-type:none;
 display:flex;
 justify-content:space-between;
 align-items:center;
 border-bottom: 1px solid #7273811a;
 margin-bottom:1rem;
 padding-bottom:1rem;
 color:#3A2984;
 font-size:1rem;
}
.prod-card > span{
  color: var(--bs-primary);
  font-size: 0.875rem;
  font-weight: 600;
}
.prod-card > span > span{
color:var(--bs-secondary);
margin-left:0.5rem;
}



/* third-section ends */



footer {
  background: #001533;
  padding: 3.125rem 0 2rem;
}
footer .ftrcntnt {
  padding-bottom: 2rem;
}
footer .ftrcntnt .mapimg {
  display: flex;
  align-items: self-start;
  gap: 1rem;
}
footer .ftrcntnt .mapimg img {
  height: 1.5rem;
  margin-top: 0.5rem;
}
footer .ftrcntnt .ftrhead {
  margin: 0;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
}
footer .ftrcntnt ul.mb-45 > li {
  margin-bottom: 0;
  line-height: 1.5rem;
  display: flex;
  gap: 0.75rem;
}
footer .ftrcntnt ul.mb-45 > li a {
  font-size: 0.875rem;
  color: #B0B7C0;
}
footer .ftrcntnt ul.mb-45 > li a:hover {
  color: #FCFCFC;
  text-decoration: underline;
}
footer .ftrcntnt ul.mb-45 > li span {
  background: linear-gradient(90deg, #393185 0%, #E4097F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
footer .ftrcntnt .adrs {
  margin: 0;
}
footer .ftrcntnt .adrs p {
  margin: 0;
  margin-bottom: 0.35rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: #FCFCFC;
}
footer .ftrcntnt .adrs p:nth-child(2) {
  color: #FCFCFC;
  font-weight: 400;
  opacity: 0.7;
}
footer .socialicon {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  margin-bottom: 0.5rem;
}
footer .socialicon li {
  margin: 0;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  padding: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .prodhd {
  font-weight: 500;
  font-size: 0.875rem;
  color: #FCFCFC;
  margin-bottom: 0;
  line-height: 2.25rem;
}
footer ul.lstftr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
footer ul.lstftr a {
  color: #B0B7C0;
  font-size: 0.875rem;
}
footer ul.lstftr a:hover {
  color: #FCFCFC;
  text-decoration: underline;
}
footer ul  {
 padding: 0;
}
footer .mgmenu li {
  margin-bottom: 0;
  line-height: 2.25rem;
}
footer .mgmenu li a {
  color: #B0B7C0;
  line-height: 2.25rem;
  font-size: 0.875rem;
}
footer .mgmenu li a:hover {
  color: #FCFCFC;
  text-decoration: underline;
}

.bdrbtm {
  border-bottom: 1px solid #374964;
  margin-bottom: 2rem;
}

.lftbc p {
  font-size: 0.875rem;
  color: #FCFCFC;
  margin-top: 0;
  opacity: 0.7;
}
.lftbc p:first-child {
  margin-bottom: 0.5rem;
}
.lftbc .fstspan {
  color: #FCFCFC;
  margin-top: 0;
  opacity: 0.7 !important;
}
.lftbc .text-white {
  color: #fff;
}

.hyperelink.btn{
  --bs-btn-font-size: 0.875rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.5rem;
}
.btn-primary{
  background:var(--bs-secondary);
  border:1px solid var(--bs-secondary); 
}

