:root {
  --bs-heading-color:#fffff8;
 --bs-para-color:#bfbfbf;
 --bs-border-color:#7f7f7f;
 --bs-link-active-color:#82c5c9;
 --bs-body-bg: #000;
}
.navbar div > a img:last-child{
  display:block;
 }
.navbar div > a img:first-child{
  display:none;
 }
 header.nvbrhdr.bg-white nav {
  background: #3c3c3c;
}
.top-most-banner .maindiv h1{
  color:#0e1726;
}
.top-most-banner .maindiv h1 + p{
  color:#1D2A41;
}
.top-most-banner .owl-item.current .owl-dot p, .top-most-banner .owl-item.active p {
  color: var(--bs-link-active-color);
}
.top-most-banner .owl-item.active .circle{
  stroke:var(--bs-link-active-color);
}
.top-most-banner .owl-dot, .slider-nav .slick-list {
  background: #3c3c3c;
}
.play-pause img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(107deg) brightness(104%) contrast(104%);
}
 .submenu {
  background:linear-gradient(97.03deg, rgb(60 60 60) 5.33%, #000000 102.02%);
}
.hdrbtm li a img,footer .socialicon li a img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(107deg) brightness(104%) contrast(104%);
}
header nav{
    background:#3c3c3c;
  }
  .second-section ,.four-section,.digital,.insidesec,.blog,footer{
background-color:#000 !important;
background-image: none !important;
  }
  .social {
    background: linear-gradient(180deg, #3c3c3c -8%, #000 100%);
}
  section.third-section,.client,.testimonial,.socialcard.bg-white,.start-project {
    background: #1e2222 !important;
  }
  .four-section.pb-0,.testimonial.pb-0{
    padding-bottom:112px !important;
  }
  .lfttst h6 {
    color:var(--bs-heading-color);
  }
  .btn-secondary {
    background: var(--bs-link-active-color);
    color: #0e1726;
}
.btn-secondary:hover {
  background: var(--bs-link-active-color);
    color: #0e1726;
  border: 1px solid transparent;
}
  .socialcard span{
    color:var(--bs-heading-color);
  }
  .second-section .top-img:hover::before ,
  .second-section .top-img.tscndshd:hover::before{
     background: #00000099;
  }
  .client .slick-track > * {
     border-left: 1px solid var(--bs-border-color);
    }
    #First .offcanvas-header button{
      background: url(../images/close-white.svg);
    }
    .accordion-button::after,.accordion-button:not(.collapsed)::after{
      background-image:url(../images/acc-drop.svg);
    }
   .accordion-button:not(.collapsed)::after{
      filter: invert(39%) sepia(97%) saturate(46%) hue-rotate(171deg) brightness(93%) contrast(85%);
    }
    .accordion-item,.innoffcan .accordion-flush>.accordion-item:last-child{
      border-bottom:1px solid var(--bs-border-color);
    }
    .offcanvas {
      background:linear-gradient(97.03deg, rgb(60 60 60) 5.33%, #000000 102.02%);
    }
    .offcanvas-body nav {
    background: transparent;
}
.selected .btndv button {
  border: none;
}
.bdrbtmacc{
  border-bottom: 1px solid #80808020;
}
.offcanvas-header .menu-arrow {
  border: solid var(--bs-heading-color);
  border-width: 0 1.5px 1.5px 0;
}
.close,.menu{
  display:none;
  }
.close.close-white,.menu.menu-white{
  display:block;
  }
    .client .slick-track{
  border: 1px solid var(--bs-border-color);
}
.hdngdv p {
  color: #bfbfbf;
  }
.prod-card {
  background-color:#3c3c3c !important;
}
.rgttst,.rgttst img:last-child {
  background: #3c3c3c;
}
footer .socialicon li a:hover img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(107deg) brightness(104%) contrast(104%) !important;
}
footer .socialicon li a:hover h3 {
filter : none !important;
}
.testimonial .slick-dots li.slick-active button::after{
 border: 1px solid var(--bs-link-active-color);
}
.testimonial .slick-dots li.slick-active button{
 background:var(--bs-link-active-color);
}
.digital .butn:link,.digital .butn:visited{
 color : #0b0909;
  background: #f4f4f4;
}
.btmprod > span > span,
.btmprod > span::before {
  color: #fffff8;
}

  .submenu .hdrttl + ul li a{
    color:var(--bs-heading-color);
  }
  .submenu .hdrttl{
    color: var(--bs-link-active-color);
  }
  .butn:link, .butn:visited{
    background: #0b0909;
    color: #f4f4f4;
  }
  .navbar .navbar-nav > li:hover > a {
    color: var(--bs-link-active-color);
}
.navbar .parent-menu:hover .menu-arrow {
  top: 49%;
  border: solid var(--bs-link-active-color);
  border-width: 0 1.5px 1.5px 0;
}
.navbar .navbar-nav > li:hover {
  border-bottom: 1.25px solid var(--bs-link-active-color);
}
.submenu .hdrbtm {
  opacity: 0.7;
}
  .sec-head{
    color:var(--bs-heading-color);
  }
   .main-para{
    color:var(--bs-para-color);
  }
  .bgsec {
    background: #000;
  }
   .dropdown-toggle::after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
}
  .dropdown-toggle.active::after {
    border: solid var(--bs-border-color);
    border-width: 0 2px 2px 0;
}
 
  header .d-flex .tglimg + ul {
    background: #000;
    list-style:none;
    border-radius: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
  }
  .tpnv .btndv button img{
    filter: invert(100%) sepia(2%) saturate(188%) hue-rotate(95deg) brightness(116%) contrast(100%);
  }
 
.bdrbtm,.hdrtop,.submenu .hdrttl  {
  border-bottom: 1px solid var(--bs-border-color);
}
.navbar-toggler{
  background:transparent;
}
.text-inv{
  color:#0e1726 !important;
}
.top-img h3,.second-section .top-img p{
  color:#0e1726 !important;
}
.four-section h3,.second-section .top-img p{
  color:#0e1726 !important;
}
