
body.theme-high-contrast header nav{
    background:#68ae2e ;
  }
  body.theme-high-contrast .sec-head{
    color:var(--cont-theme);
  }
  body.theme-high-contrast .main-para{
    color:#fff;
  }
  body.theme-high-contrast .newprodcrd .pdbox {
   background: #243a5e;
  }
  /* body.theme-high-contrast header ul.d-flex li img ,
  body.theme-high-contrast header ul.d-flex li img g path{
    filter: invert(100%) sepia(52%) saturate(517%) hue-rotate(184deg) brightness(116%) contrast(102%);
    fill:#fafafa;
  }  */
  body.theme-high-contrast .liItem ,
  body.theme-high-contrast .pdbox .cardpara,
  body.theme-high-contrast .newprodcrd .cardttl{
    color:#fafafa;
  }
  body.theme-high-contrast .hyperelink {
    color:var(--cont-theme);
  }
  body.theme-high-contrast .nav-item .hyperelink {
    color:#fff;
  }
  body.theme-high-contrast .nav-item .active.hyperelink {
    color: var(--bs-secondary);
  }

  .theme-high-contrast button:not(.cookieConsent button) {
    background-color: #333333;
    color: #8fff00;
    border: 1px solid #f7fb00;
  } 
  .theme-high-contrast button.navbar-toggler:not(.cookieConsent button) {
    background-color: #fff;
  } 
  .theme-high-contrast {
    background-color: #5c3f21;
  }
  .theme-high-contrast button.activetheme{
    background: #5c3f21;
  }