
body.theme-high-contrast header nav{
    background:#68ae2e ;
  }
.theme-high-contrast .sec-head{
    color:var(--cont-theme);
  }
.theme-high-contrast .main-para{
    color:#fff;
  }
.theme-high-contrast .newprodcrd .pdbox {
   background: #243a5e;
  }
.theme-high-contrast .liItem ,
.theme-high-contrast .pdbox .cardpara,
.theme-high-contrast .newprodcrd .cardttl{
    color:#fafafa;
  }
.theme-high-contrast .hyperelink {
    color:var(--cont-theme);
  }
.theme-high-contrast .nav-item .hyperelink {
    color:#fff;
  }
.theme-high-contrast .nav-item .active.hyperelink {
    color: var(--bs-secondary);
  }

 .theme-high-contrast button.navbar-toggler:not(.cookieConsent button) {
    background-color: #fff;
  } 
  .theme-high-contrast {
    background-color: #5c3f21;
  }
  .theme-high-contrast .topnav button.activetheme{
    background: #e0ffc6;
  }