:root {
    --font-size-sec-head: 2rem;
    --font-size-main-para: 16px;
    --font-size-liItem: 14px;
    --font-size-hyperelink: 16px;
    --font-size-cardttl: 18px;
    --font-size-cardpara: 14px;
  }



header ul.d-flex{
     gap:0.75rem;
 } 


 .main-para{
    font-size: var(--font-size-main-para);
    text-align: left;
}
.liItem{
    font-size: var(--font-size-liItem) ;
}
.hyperelink{
    font-size: var(--font-size-hyperelink) ;
}
.cardttl{
    font-size:var(--font-size-cardttl) ;
}
.cardpara{
    font-size: var(--font-size-cardpara) ;
}

 section{
    padding:60px 0;
}
footer .socialicon {
    display: grid;
    grid-template-columns: auto auto;
}
.sec-head{
    font-size: calc(var(--font-size)* 1.5);
}
.insidesec{
    padding: 50px 20px 100px;
    padding-bottom: 85px;
 }
.mb50{
    margin-bottom:2rem;
}
 
 .thumbnails.owl-dot,.play-pause {
    display: none;
 }
 section.second-section{
    padding-top:50px;
 }
 .top-most-banner .maindiv h1 {
    font-size: calc(var(--font-size)* 2);
 }
 .lfttst h3{
    font-size: calc(var(--font-size) * 1.25);
  }