
header ul.d-flex{
    gap:1rem;
} 

.main-para{
    font-size: var(--font-size-main-para);
    text-align: left;
}
.liItem{
    font-size: var(--font-size-liItem) ;
}
.hyperelink{
    font-size: var(--font-size-hyperelink) ;
}
.cardttl{
    font-size:var(--font-size-cardttl) ;
}
.cardpara{
    font-size: var(--font-size-cardpara) ;
}
section,.start-project{
    padding:50px 0;
}
footer .socialicon {
    display: grid;
    grid-template-columns: auto auto;
}
.insidesec {
     padding: 50px 20px 100px;
}
.rgttst {
    padding: 2rem;
}
.rgttst p {
    font-size: calc(var(--font-size)* 0.875);
}
.rgttst img:last-child {
    width: 42px !important;
    height: 42px;
}

.thumbnails.owl-dot,.play-pause {
    display: none;
 }
 section.second-section{
    padding-top:50px;
 }
 .sec-head {
    font-size: calc(var(--font-size)* 1.25);
    text-align: start;
    margin-bottom: 1rem;
    line-height: 30px;
 }
 h2 + a {
 min-width: 100px;
}
 h2 + a::after:hover {
 width: 75%;
 transition: all 0.7s;
}

footer {
    padding-top: 50px;
}
.top-most-banner .maindiv h1 {
    font-size: calc(var(--font-size)* 2);
        margin-bottom: 1.5rem;
 }
 .top-most-banner .maindiv h1 + p{
    font-size: var(--font-size);
 }
 .lfttst h3{
    font-size: calc(var(--font-size)* 1.5);  
      line-height: 1.875rem;
          margin-bottom: 1.5rem;
  }
  .start-project a .logo:nth-child(1),
  .start-project a .logo:nth-child(2){
    animation-play-state:running;
  }
  footer ul.lstftr {
    justify-content: start;
  }
  .mb50 {
    margin-bottom: 1.5rem;
  }