@media(min-width:992px) and (max-width:1199px){
  
    :root {
        --font-size-sec-head: 1.5rem;
        --font-size-main-para: 15px;
        --font-size-liItem: 13px;
        --font-size-hyperelink: 15px;
        --font-size-cardttl: 17px;
        --font-size-cardpara: 13px;
      }



    header ul.d-flex{
         gap:0.75rem;
     } 

     .sec-head{
        font-size: var(--font-size-sec-head) ;
    }
    .main-para{
        font-size: var(--font-size-main-para) ;
    }
    .liItem{
        font-size: var(--font-size-liItem) ;
    }
    .hyperelink{
        font-size: var(--font-size-hyperelink) ;
    }
    .cardttl{
        font-size:var(--font-size-cardttl) ;
    }
    .cardpara{
        font-size: var(--font-size-cardpara) ;
    }
 }
 @media(991px < width){
    
 }
 .thumbnails.owl-dot,.play-pause {
    display: none;
 }