section{
   padding:90px 0;
}
 .sec-head{
   font-size: calc(var(--bs-body-font-size)* 1.875);
}
 .thumbnails.owl-dot,.play-pause {
    display: none;
 }
 section.second-section{
    padding-top:50px;
 }
 .top-most-banner .maindiv h1 {
    font-size: calc(var(--bs-body-font-size)* 2);
 }
 .lfttst h3{
    font-size: calc(var(--bs-body-font-size)* 1.5);  
      line-height: 1.875rem;
  }
  .client .slick-track > * {
   min-width: 300px;
}
 .navbar-nav:after{
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   height: 2px;
   width: 100%;
   background: linear-gradient(90deg, #5E12C9 0%, #2154FE 11.8%, #FD25FE 44.5%, #2390FD 71%, #EE0CE3 95%);
   z-index: -1; 
 }
 .rgttst p {
   min-height: 120px;
}  
.maintabdv li.active {
   padding: 1.5rem 1.5rem 0 2.25rem;
   gap: 0;
   min-height: 550px;
 }
 .imgtxt.thrd {
   font-size: 256px;
   bottom: 0;
   line-height: 1;
   text-wrap: nowrap;
}
.timeline .slick-dots {
   gap: 2rem;
  }
  .bfr::before {
   left: 40px;
}
.maintabdv li.active .tabcontent{
   position:static
 }

 .mb66 {
   margin-bottom: 33px;
}
.txtimgtop {
  font-size: calc(var(--bs-body-font-size) * 3);
   line-height: 3rem;
   margin-bottom:1rem;
 }
 .maintabdv li.active {
   padding: 1.5rem 1.5rem 0 1.5rem;
   flex-direction: column;
   min-height: 480px;
   gap:0;
 }
 .pttop {
   padding-top: 135px;
 }
 .bfr {
   padding-left: 3rem;
 }
 .bfr > div {
   padding-top: 3rem;
}
.ps-100 {
   padding-left: 46px;
}
.mainform form::before {
 left: 18px;
 height: 110%;
 top: -30px;
}
 .mainform h2 {
   margin-bottom: 4rem;
   font-size: calc(var(--bs-body-font-size) * 1.75);
   line-height: 40px;
 }
 .socdtl{
   display:none;
 }
.tst p {
 line-height: 1.875rem;
 font-size: calc(var(--bs-body-font-size) * 1.25);
}
.tst {
 padding: 2rem;
}
.pb100 {
 padding-bottom: 50px;
}
.tst img {
 margin-bottom: 1.5rem;
}
.bfr::after {
left: 42px;
}
@keyframes lstaftr{
 0%{
   width:0;
 }
 100%{
    width:90px;
 }
}
 .thumbnails{
   justify-content: start;
   gap:2rem;
 }
 .navbar .navbar-nav > li > a {
   padding-top: 0;
   padding-bottom: 1rem;
   margin-bottom: 1.25rem;
   display: flex;
   font-weight: 500;
   font-size: var(--bs-body-font-size);
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #80808020;
 }
 .close{
   display:none;
 }
 .navbar .navbar-nav.lstul > li > a {
  font-size: calc(var(--bs-body-font-size) * 0.875);
 }
.gx24{
 gap:1.5rem;
}
.offcanvas.offcanvas-start{
 width:100%;
}
.selected .btndv button{
 border:none;
}
.offcanvas .offcanvas-body{
 position: relative;
 height: calc(100vh - 78px);
}
.offcanvas-body .accttl{
  font-size: var(--bs-body-font-size) ;
 margin-bottom: 2rem;
}
.offcanvas-body .accordion-item,
.offcanvas-body .accordion-item button{
 background:transparent;
}
.offcanvas-body .accordion-item button{
 padding: 0;
 padding-bottom: 1rem;
 color: var(--bs-heading-color);
 font-weight: 500;
}
.innoffcan .accordion-button::after{
 --bs-accordion-btn-icon-width: 1rem;
}
.navbar>.container{
 padding:0 1.25rem;
}
section > .row ,footer > .row {
   --bs-gutter-x: 2.5rem;
 }
section > .container,footer > .container {
 --bs-gutter-x: 2.5rem;
}
.accordion{
 --bs-accordion-border-color: #80808020;
}
.innoffcan li{
list-style:none;
font-size: calc(var(--bs-body-font-size) * 0.875);
line-height:2.25;
}
.innoffcan li a{
color:var(--bs-heading-color);
}
.innoffcan ul.noacc li {
 padding-bottom: 1rem;
 margin-bottom: 1.25rem;
 border-bottom: 1px solid ;
 border-bottom: 1px solid #80808020;
}
.innoffcan ul.noacc li a{
  font-weight: 500;
  display:block;
  font-size: var(--bs-body-font-size);
  line-height: 1.25;
}
.innoffcan .accordion-flush>.accordion-item:last-child{
 border-bottom:1px solid #80808020;
}
.innoffcan .accordion-button:not(.collapsed) {
 color: #6b737c;
}
.offcanvas-body .accordion-item {
 margin-bottom:1rem;
}
 .offcanvas .offcanvas-body::after{
   content: '';
   position: fixed;
   left: 0;
   bottom: 0;
   height: 4px;
   width: 100%;
   background: linear-gradient(90deg, #5E12C9 0%, #2154FE 11.8%, #FD25FE 44.5%, #2390FD 71%, #EE0CE3 95%);
   z-index: 2;
 }
 .submenu{
   position:inherit;
   visibility:visible;
   opacity: 1;
   padding:1rem 0;
   transform: translateX(0);
   }
   .hdrbtm{
     display:none;
   }
   .hdrtop {
     margin-bottom: 0;
     padding-bottom: 1rem;
   }
 .navbar .navbar-nav > li:hover > a {
   color: var(--bs-heading-color);
}
.navbar .parent-menu:hover .menu-arrow,
.navbar .parent-menu .menu-arrow {
 border: solid var(--bs-heading-color);
 border-width: 0 1.5px 1.5px 0;
}
.hvrmnu:hover a .menu-arrow,
.hvrmnu a .menu-arrow {
 transform: rotate(-45deg);
transition: all 0.5s ease-in-out;
}
   .submenu{
     box-shadow: none;
     background: transparent;
     backdrop-filter: none;
     padding-top: 0;
     padding-bottom:0;
   }

   .navbar .navbar-nav > li{
     padding: 0 1.25rem;
     margin:0;
   }
 
  .navbar .container button{
     border: 0;
     padding: 0;
   }

   .hdngdv,.hdngdv p{
     margin-bottom:0;
   }
   .hdngdv p{
     display:none;
   }
   .hdngdv a{
    font-size: calc(var(--bs-body-font-size) * 0.875);
     font-weight:400;
     line-height:2.275;
   }
   .socialicon li{
list-style-type:none;
   }
   .socialicon li a{
     display: inline-block;
   }
   .socialicon li img{
     width: 20px;
     height: 20px;
   }
   .socialicon.socialhdr  li img {
     width: 24px;
     height: 24px;
     opacity: 0.4;
 }
   footer .ftrcntnt ul.mb-45 > li {
      line-height: 2rem;
 }
  .offcanvas-body .navbar-collapse{
   height: calc(100vh - 78px);
   padding-bottom: 2rem;
  }
   .submenu:after{
     content:none;
   }
 .hvrmnu a .menu-arrow,
 .navbar .parent-menu .menu-arrow{
   top: 28%;
   transform: translateY(0%) rotate(-45deg);
   right: 0;
 }
 .navbar .parent-menu:hover .menu-arrow{
   top: 43%;
 }
.thumbnails .owl-item p {
 display:none;
 width:0;
}
.pt96 {
 padding-top:68px !important;
} 

.maindiv {
 height: calc(100vh - 68px);
}
.second-section .top-img.tscndshd::before {
 background: #6BD7FE;
 transition: all 0.7s;
}
.second-section .top-img p{
 display: block;
}
.prod-card .btmprod {
 padding: 1.25rem;
}
.prod-card > div:not(.btmprod) {
 margin-bottom: 1.25rem;
}
.top-img.txtpri h3 {
 color: var(--bs-heading-color);
}
.second-section .top-img::before {
 content: "";
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 opacity: 0.9;
 z-index: -1;
 background: var(--bs-heading-color);
 transition: all 0.7s;
}
.dtl p{
   margin-bottom: 2rem;
}
p{
 line-height: 1.5rem;
}
.start-project a .logo {
 margin-bottom: 55px;
 height: 80px;
 background-size: contain;
}

.main-para{
margin-bottom: 2rem;
}
.socialcard .innercntnt {
 padding: 1.25rem;
}
.maintabdv li .tabhead h4,
.maintabdv li:last-child .tabhead h4,
.maintabdv li.active:last-child .tabhead h4,
.maintabdv li.active .tabhead h4{
 transform:none;
}
.maintabdv li .tabhead {
  padding: 0;
}
.maintabdv li.active .tabhead {
  width:100%;
  padding: 0;
  align-items: baseline;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e6e6e6;
}
.imgtxt{
 left:-0.5rem;
}
.maintabdv li{
  padding: 0.25rem 1.5rem;
}
.top-most-banner .owl-dot {
   padding-right: 4.5rem;
}
.thumbnails .owl-item {
min-width:auto;
}
.bgsec .container{
 padding:0 20px;
}
.navbar .navbar-nav > li:hover > a:after {
   width: 100%;
   left: 0;
   transform: none;
   height:1px;
}

.leadership img {
  height: 250px;
  object-fit: cover;
}
.maintabdv li .tabhead h4{
  font-size: calc(var(--bs-body-font-size)* 1.25);
}

/* leadership start */
.leaders .nav-pills .nav-link{
  font-size:0.875rem;
  padding:0.875rem;
}
.ps52{
  padding-left: 0;
}
.pe52 {
  padding-right: 0;
}
.leaders .tab-content .position-absolute {
  bottom: 0.875rem;
  right: 0.875rem;
}
.leaders .tab-content .position-absolute h5,.drtrtxt p {
  font-size: var(--bs-body-font-size);
}
.leaders .tab-content .position-absolute p {
  font-size: calc(var(--bs-body-font-size) * 0.875);
}
.mobhdng{
  font-size:calc(var(--bs-body-font-size) * 1.35);
}
.leaders .scndtbhdng{
  font-size:calc(var(--bs-body-font-size) * 1.35);
  margin-bottom: 1.5rem;
}
.drtrtxt h3 {
  font-size: calc(var(--bs-body-font-size)* 1.75);
  margin-bottom: 1rem;
  line-height: 30px;
}
.leaders .tab-content .position-absolute h5, .drtrtxt p {
  font-size:calc(var(--bs-body-font-size) * 0.95);
}
section.leaders {
  padding-bottom: 15rem;
  }
 
/* leadership ends */

/* power start */
.maindiv .power h1 {
  font-size: calc(var(--bs-body-font-size)* 2.15);
}


.counternum-section .outerleftdv {
  padding: 1.25rem 1.25rem 1.5rem 1.75rem;
  margin-left: 1.25rem;
}
.counternum-section .outerleftdv p{
  font-size:0.875rem;
  }
 
  .toplftbdr {
    padding: 2rem;
}
.outerrightdv .numdv > div {
  padding-bottom: 1.125rem;
  margin-bottom: 1.25rem;
}
.outerrightdv .numdv span:not(.counter) {
  font-size: 0.875rem;
  line-height: 1.35rem;
}
.numdv.gap-20 h2,
.numdv span:first-child{
  font-size: calc(var(--bs-body-font-size)* 2.375);
  line-height: 2.5rem;
}
/* power ends */