.client .slick-track > * {
    min-width: 225px;
 }
 .timeline .slick-dots {
    gap: 3rem;
   }
   .txtimgtop {
    font-size: calc(var(--bs-body-font-size) * 3);
      line-height: 3rem;
      margin-bottom:1rem;
    }
    .top-most-banner .owl-dot {
      padding-right: 4.5rem;
  }
  .thumbnails .owl-item {
  min-width:auto;
  }
  .bgsec .container{
    padding:0 20px;
  }
  .submenu{
   max-width:936px;
 }
 .thumbnails{
   max-width:960px;
 }
 footer .socialicon {
   gap: 30px;
}  

.leadership img {
  height: 250px;
  object-fit: cover;
}